ALLOWED_ORIGIN=*
MONGODB_DB_NAME=
MONGODB_URI=
PORT=

ZOHO_ACCOUNT_ID=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=

CAREER_SPREADSHEET_ID=
CAREER_SPREADSHEET_NAME=

NEWSLETTER_SPREADSHEET_ID=
NEWSLETTER_SPREADSHEET_NAME=

SALE_SPREADSHEET_ID=
SALE_SPREADSHEET_NAME=